/**
 * Fallback fonts
 */
@font-face {
  font-family: "fb-PC";
  src: local("Arial"), local("Arial Regular");
  font-style: normal;
  font-weight: 400;
  size-adjust: 110.284933%;
  ascent-override: 90.674217%;
  descent-override: 22.668554%;
  line-gap-override: 0%;
}
@font-face {
  font-family: "fb-Android";
  src: local("Roboto"), local("Roboto Regular");
  font-style: normal;
  font-weight: 400;
  size-adjust: 109.910014%;
  ascent-override: 90.98352%;
  descent-override: 22.74588%;
  line-gap-override: 0%;
}
@font-face {
  font-family: "fb-Apple";
  src: local("SF Pro Text"), local("SF Pro Text Regular");
  font-style: normal;
  font-weight: 400;
  size-adjust: 106.982414%;
  ascent-override: 93.473307%;
  descent-override: 23.368327%;
  line-gap-override: 0%;
}
@font-face {
  font-family: "fb-PC";
  src: local("Arial Bold");
  font-style: normal;
  font-weight: 700;
  size-adjust: 72.583392%;
  ascent-override: 135.568203%;
  descent-override: 29.345556%;
  line-gap-override: 0%;
}
@font-face {
  font-family: "fb-Android";
  src: local("Roboto Bold");
  font-style: normal;
  font-weight: 700;
  size-adjust: 77.211221%;
  ascent-override: 127.442616%;
  descent-override: 27.586664%;
  line-gap-override: 0%;
}
@font-face {
  font-family: "fb-Apple";
  src: local("SF Pro Text Bold");
  font-style: normal;
  font-weight: 700;
  size-adjust: 71.252404%;
  ascent-override: 138.100604%;
  descent-override: 29.893728%;
  line-gap-override: 0%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  background-color: transparent;
}

abbr {
  border-bottom: 0;
  cursor: help;
  font-variant: normal;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.scr-hide {
  left: -100vw;
  max-width: 20px;
  position: absolute;
}

:root {
  word-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  background: #f2f2f2;
  color: rgba(255, 255, 255, 0.75);
  display: table;
  font-size: 100%;
  height: 100%;
  min-width: 10.625rem;
  overflow-wrap: anywhere;
  text-rendering: optimizeSpeed;
  width: 100%;
}

body {
  display: table-cell;
  font: 400 93.75%/1.6667 "Lexend Deca", fb-Android, fb-Apple, fb-PC, sans-serif;
  text-align: center;
  vertical-align: middle;
}

.row {
  border-radius: 0.5rem;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 1%;
  max-width: 57.5rem;
  min-height: 31.25rem;
  overflow: hidden;
  text-align: left;
}

.icon {
  margin-bottom: 2.1875rem;
}

.col {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
      flex: 1;
  -ms-flex-direction: column;
      flex-direction: column;
  min-width: 0;
  padding: 3rem;
}

.col-sedan {
  background: #e38826;
}

.col-suv {
  background: #006970;
}

.col-lux {
  background: #004140;
}

.title {
  color: #f2f2f2;
  font: 700 266.6667%/1.2 "Big Shoulders Display", fb-Android, fb-Apple, fb-PC, cursive;
  margin-bottom: 1.5625rem;
  text-transform: uppercase;
  white-space: nowrap;
}

.desc {
  -ms-flex-positive: 1;
      flex-grow: 1;
  margin-bottom: 5.1875rem;
}

.btn {
  word-wrap: normal;
  background: #f2f2f2;
  border-radius: 1.5625rem;
  display: inline-block;
  max-width: 9.125rem;
  overflow-wrap: normal;
  padding: 0.71875rem;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  width: 100%;
}

.btn:hover {
  background: none;
  color: #fff;
  outline: 0.125rem solid #fff;
  outline-offset: -0.125rem;
}

.btn-sedan {
  color: #e38826;
}

.btn-suv {
  color: #006970;
}

.btn-lux {
  color: #004140;
}

.attribution {
  color: #e38826;
  font-size: 74%;
  min-width: 100%;
  padding: 0 6% 0.5rem;
  position: absolute;
}

.attribution a {
  color: #006970;
  white-space: nowrap;
}

.attribution abbr {
  cursor: inherit;
}

@media (min-width: 80rem) {
  .row {
    margin-top: 3.9167%;
  }
}
@media (min-width: 31.9375rem) and (max-width: 48.75rem) {
  .col {
    padding: 6.547%;
  }
  .desc {
    margin-bottom: 55.93%;
  }
}
@media (max-width: 31.9rem) {
  .row {
    display: block;
    margin: 23.457% 6.399%;
  }
  .col {
    display: block;
  }
  .desc {
    margin-bottom: 1.5625rem;
  }
  body {
    position: relative;
  }
  .attribution {
    bottom: 1rem;
    padding-bottom: 0;
  }
}
@media (max-width: 17.5rem) {
  .row {
    margin: 10% 6% 5rem;
  }
  .col {
    padding: 19%;
  }
}
@supports not (outline-offset: -0.125rem) {
  .btn {
    border: 0.125rem solid #f2f2f2;
    padding: 0.61875rem;
  }
  .btn:hover {
    border-color: #fff;
    outline: 0;
  }
}
@media (-ms-high-contrast: none) {
  .row {
    width: 100%;
  }
}