[submodule "qr-code-component"]
	path = qr-code-component
	url = git@github.com:HA3IK/fep.git
	branch = qr-code-component
[submodule "3column-preview-card-component"]
	path = 3column-preview-card-component
	url = git@github.com:HA3IK/fep.git
	branch = 3column-preview-card-component
[submodule "four-card-feature-section"]
	path = four-card-feature-section
	url = git@github.com:HA3IK/fep.git
	branch = four-card-feature-section
[submodule "skilled-elearning-landing-page"]
	path = skilled-elearning-landing-page
	url = git@github.com:HA3IK/fep.git
	branch = skilled-elearning-landing-page
[submodule "pod-request-access-landing-page"]
	path = pod-request-access-landing-page
	url = git@github.com:HA3IK/fep.git
	branch = pod-request-access-landing-page
[submodule "interactive-rating-component"]
	path = interactive-rating-component
	url = git@github.com:HA3IK/fep.git
	branch = interactive-rating-component
[submodule "age-calculator-app"]
	path = age-calculator-app
	url = git@github.com:HA3IK/fep.git
	branch = age-calculator-app
[submodule "manage-landing-page"]
	path = manage-landing-page
	url = git@github.com:HA3IK/fep.git
	branch = manage-landing-page
