/**
 * Fallback fonts
 *
 * @generated
 */

//  Normal, 700

@font-face {
  font-family: "fb-Android";
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  src: local("SourceSansPro-Bold");
  size-adjust: 117.645596%;
  ascent-override: 89.25111%;
  descent-override: 29.75037%;
  line-gap-override: 8.500106%;
}

@font-face {
  font-family: "fb-Apple";
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  src: local("Thonburi-Bold");
  size-adjust: 107.036534%;
  ascent-override: 98.097347%;
  descent-override: 32.699116%;
  line-gap-override: 9.342604%;
}

@font-face {
  font-family: "fb-Win";
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  src: local("Tahoma-Bold");
  size-adjust: 102.865039%;
  ascent-override: 102.075497%;
  descent-override: 34.025166%;
  line-gap-override: 9.721476%;
}

@font-face {
  font-family: "fb-LR";
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  src: local("Arial-BoldMT");
  size-adjust: 108.296894%;
  ascent-override: 96.955689%;
  descent-override: 32.318563%;
  line-gap-override: 9.233875%;
}

//  Italic, 400

@font-face {
  font-family: "fb-Android";
  font-stretch: normal;
  font-style: italic;
  font-weight: 400;
  src: local("SourceSansPro-Italic");
  size-adjust: 124.377989%;
  ascent-override: 84.420082%;
  descent-override: 28.140027%;
  line-gap-override: 8.040008%;
}

@font-face {
  font-family: "fb-Apple";
  font-stretch: normal;
  font-style: italic;
  font-weight: 400;
  src: local("Avenir-Oblique");
  size-adjust: 112.889233%;
  ascent-override: 93.011528%;
  descent-override: 31.003843%;
  line-gap-override: 8.858241%;
}

@font-face {
  font-family: "fb-Win";
  font-stretch: normal;
  font-style: italic;
  font-weight: 400;
  src: local("ArialNova-Italic");
  size-adjust: 115.46827%;
  ascent-override: 90.934072%;
  descent-override: 30.311357%;
  line-gap-override: 8.660388%;
}

@font-face {
  font-family: "fb-LR";
  font-stretch: normal;
  font-style: italic;
  font-weight: 400;
  src: local("Arial-ItalicMT");
  size-adjust: 114.984375%;
  ascent-override: 91.316755%;
  descent-override: 30.438918%;
  line-gap-override: 8.696834%;
}

//  Italic, 800

@font-face {
  font-family: "fb-Android";
  font-stretch: normal;
  font-style: italic;
  font-weight: 800;
  src: local("SourceSansPro-BoldItalic");
  size-adjust: 122.370202%;
  ascent-override: 85.805203%;
  descent-override: 28.601734%;
  line-gap-override: 8.171924%;
}

@font-face {
  font-family: "fb-Apple";
  font-stretch: normal;
  font-style: italic;
  font-weight: 800;
  src: local("AvenirNext-BoldItalic");
  size-adjust: 109.040874%;
  ascent-override: 96.294166%;
  descent-override: 32.098055%;
  line-gap-override: 9.170873%;
}

@font-face {
  font-family: "fb-Win";
  font-stretch: normal;
  font-style: italic;
  font-weight: 800;
  src: local("SegoeUI-BoldItalic");
  size-adjust: 111.548601%;
  ascent-override: 94.129374%;
  descent-override: 31.376458%;
  line-gap-override: 8.964702%;
}

@font-face {
  font-family: "fb-LR";
  font-stretch: normal;
  font-style: italic;
  font-weight: 800;
  src: local("Arial-BoldItalicMT");
  size-adjust: 109.645217%;
  ascent-override: 95.763411%;
  descent-override: 31.921137%;
  line-gap-override: 9.120325%;
}
