// Utilities
@use "util" as *;

// Import partials
@import "font", "reset";

// Screen hider
.scr-hide {
  overflow: hidden;
  max-height: px2x(50);
  position: absolute;
  top: px2x(-100);
}

/**
 * Main CSS
 */

:root {
  --font-size: 13;
  --color-light-blue: hsl(210, 46%, 95%);
  // b/c
  word-wrap: break-word;
  // basic
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  background: var(--color-light-blue);
  font:
    500 100% "Barlow Semi Condensed",
    "fb-Android",
    "fb-Apple",
    "fb-Win",
    "fb-LR",
    sans-serif;
  overflow-wrap: anywhere;
  tab-size: 4;
  text-rendering: optimizeSpeed;
  text-size-adjust: 100%;
}

body {
  font-size: calc(var(--font-size) / 16 * 100%);
  line-height: calc(18 / var(--font-size));
  padding: px2x(71) px2x(24);
}

.quote:first-child {
  --color-bg: hsl(263, 55%, 52%);
  --color-img-border: hsl(264, 82%, 70%);
  --color-txt: hsl(0, 0%, 100%);
  background-image: url("../img/bg-pattern-quotation.svg?v=1.0.0");
  background-position: right px2x(24) top;
  background-repeat: no-repeat;
}

.quote:nth-child(4n + 2) {
  --color-bg: hsl(217, 19%, 35%);
  --color-txt: hsl(0, 0%, 100%);
}

.quote:nth-child(4n + 3),
.quote:nth-child(4n + 5) {
  --color-bg: hsl(0, 0%, 100%);
  --color-txt: hsl(217, 19%, 35%);
}

.quote:nth-child(4n + 4) {
  --color-bg: hsl(219, 29%, 14%);
  --color-img-border: hsl(263, 55%, 52%);
  --color-txt: hsl(0, 0%, 100%);
}

.quote {
  background: var(--color-bg);
  border-radius: px2x(8);
  box-shadow: px2x(40) px2x(60) px2x(50) px2x(-47) rgba(72, 85, 106, 0.247378);
  color: var(--color-txt);
  padding: px2x(26) px2x(32) px2x(32);
}

.quote + .quote {
  margin-top: px2x(24);
}

.quote-author {
  display: flex;
  margin-bottom: px2x(18);
  align-items: center;
}

.author-img {
  border-radius: 50%;
}

.quote:first-child .author-img,
.quote:nth-child(4n + 4) .author-img {
  border: px2x(2) solid var(--color-img-border);
  box-sizing: content-box;
}

.author-title {
  line-height: 1;
  margin-left: px2x(15);
}

.author-name,
.author-status {
  display: block;
}

.author-name {
  font-weight: inherit;
  margin-bottom: px2x(4);
}

.author-status {
  font-size: calc(11 / var(--font-size) * 100%);
  opacity: 0.5;
}

.quote-title {
  --font-size-title: 20;
  font-size: calc(var(--font-size-title) / var(--font-size) * 100%);
  font-weight: 600;
  line-height: calc(24 / var(--font-size-title));
  margin-bottom: px2x(16);
}

.quote:first-child > .quote-title {
  margin-bottom: px2x(40);
}

.quote:nth-child(4n + 4) > .quote-title {
  color: var(--color-light-blue);
}

.quote-txt {
  opacity: 0.7;
}

.quote-txt::before {
  content: open-quote "\20";
}

.quote-txt::after {
  content: "\20" close-quote;
}

.quote:first-child > .quote-txt {
  color: hsla(0, 0%, 81%);
  max-width: 93.845%;
}

// (Out of the challenge) FOOTER: Attribution

.attribution-wrap {
  position: relative;
  width: 100%;
}

.attribution {
  font-size: calc(11 / var(--font-size) * 100%);
  letter-spacing: px2x(0.5);
  min-width: 100%;
  padding: px2x(24) 3% px2x(32);
  position: absolute;
  text-align: center;
}

.attribution a {
  color: #001e4c;
  white-space: nowrap;
}

.attribution abbr {
  cursor: inherit;
}

// Import partials
@import "media";
