// Utilities
@use 'util' as *;
@use "sass:math";


// Vars
$main-width: 1110;
$main-width-tab: 689; // Tablet content width
$main-margin: 75;
$wrap-width: $main-width + $main-margin * 2;
$wrap-width-tab: 860; // Tablet breakpoint
$wrap-width-mob: 540; // Mobile breakpoint
$wrap-width-s: 300; // Small displays breakpoint: folds, smart watch etc.
$header-padding: 24;
$header-padding-mob: 16;
$footer-padding: 32;
$footer-padding-tab: 36; // >= Tablet
$intro-verbal-width: 460;
$intro-visual-width: 317;
$intro-visual-width-mob: 253;
$intro-visual-height: 560;
$intro-visual-radius: calc($intro-visual-width / 2);
$intro-visual-attach-height: 1008;
$intro-visual-attach-x: $intro-visual-radius; // = R
$intro-visual-attach-y: calc($intro-visual-radius / 2 * math.sin(45)); // (R/2) sin 45
$intro-visual-delta: 1.46393; // Δ (PC, Tablet)

$blue-dark: #13183f;
$pink: #f74780;
$white: #fff;

$gradient-footer-btn: linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
$gradient-orange-pink: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);


// Import partials
@import 'font', 'reset';


/**
 * Main CSS
 */

:root,
body {
  overflow-x: hidden;
  height: 100vh;
}

:root {
  // b/c
  word-wrap: break-word;
  // basic
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  color: #83869a;
  font: 500 100% 'Plus Jakarta Sans', fbPC, fbAndroid, fbiOS, sans-serif;
  min-width: px2x(170);
  overflow-wrap: anywhere;
  text-rendering: optimizeSpeed;
  text-size-adjust: 100%;
}

body {
  font-size: px2x(18, '%');
  line-height: px2x(28, '', 18);
}

// Screen hider
.scr-hide {
  left: -100vw;
  max-width: 20px;
  max-height: 20px;
  overflow: hidden;
  position: absolute;
}

.col {
  display: flex;
  flex-direction: column;
}

.col-main {
  height: 100%;
}

.row-stretch {
  flex: 1;
}

.wrapper {
  margin: 0 auto;
  max-width: px2x($wrap-width);
}

.content {
  margin: 0 px2x($main-margin, '%', $wrap-width);
  // padding: 0 px2x($main-margin, '%', $wrap-width);
}

.btn {
  color: $white;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  width: px2x(167);
}

.btn:hover {
  transition: background 0.3s ease;
}

// HEADER/FOOTER

.bar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  font-size: px2x(36);
  font-weight: 800;
  line-height: 1;
}

.bar .btn {
  border-radius: px2x(28);
  line-height: px2x(28);
  padding: px2x(14) 0;
}

// HEADER

.header {
  margin-bottom: px2x(calc(87 - $header-padding));
  padding: px2x($header-padding) 0;
  // padding-top: px2x($header-padding);
  // padding-bottom: px2x($header-padding);
}

.header .logo {
  color: $blue-dark;
}

.header .btn {
  background: $blue-dark;
}

.header .btn:hover {
  background: #666ca3;
}

// Intro

.intro {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: px2x(134);
}

.intro-verbal {
  flex: 0 px2x($intro-verbal-width);
  margin-bottom: px2x(31); // Adjustment according to design
}

.intro-title {
  color: $blue-dark;
  font-size: px2x(56);
  font-weight: 800;
  line-height: px2x(71);
  margin-bottom: px2x(29);
}

.intro-txt {
  margin-bottom: px2x(40);
  max-width: px2x(446, '%', $intro-verbal-width); // Adjustment according to design
}

.intro .btn {
  background: $gradient-orange-pink;
  border-radius: px2x(31.5);
  padding: px2x(19) 0 px2x(16);
}

.intro .btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), $gradient-orange-pink;
}

.intro-visual {
  flex: 0;
  margin: 0 px2x(54, '%', $main-width);
  position: relative;
}

.intro-img-cover {
  background: $gradient-orange-pink;
  border-radius: px2x($intro-visual-radius);
  height: px2x($intro-visual-height);
  overflow: hidden;
  position: relative;
  width: px2x($intro-visual-width);
}

.intro-img {
  bottom: 0;
  height: auto;
  position: absolute;
  right: 0;
  width: px2x(350, '%', $intro-visual-width);
}

.intro-img-attach {
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
  border-radius: px2x($intro-visual-radius);
  bottom: 0;
  height: px2x($intro-visual-attach-height);
  left: 0;
  position: absolute;
  transform: rotate(45deg) translate(-#{px2x($intro-visual-attach-x)}, -#{px2x($intro-visual-attach-y)});
  transform-origin: bottom left;
  width: px2x($intro-visual-width);
}

.intro-stats {
  background: $white;
  border-radius: px2x(15);
  box-shadow: 0 px2x(34) px2x(54) rgba(6, 22, 141, 0.158854);
  padding: px2x(20) px2x(24);
  position: absolute;
  // white-space: nowrap;
}

.intro-stats>dt {
  font-size: px2x(16);
  font-weight: 700;
  line-height: px2x(28);
  margin-bottom: px2x(2);
}

.intro-stats>dd {
  color: $blue-dark;
  font-size: px2x(40);
  font-weight: 800;
  line-height: px2x(50);
  // overflow: hidden;
  // text-overflow: ellipsis;
}

.stats-hours {
  bottom: px2x(98);
  left: -#{px2x(120)};
  width: px2x(199);
}

.stats-members {
  right: -#{px2x(118)};
  top: px2x(103);
  width: px2x(155);
}

// Courses

.row-course {
  background: linear-gradient(180deg, #fff 0%, #f0f1ff 100%);
}

.course-list {
  // b/c
  grid-gap: px2x(80) px2x(30);
  // basic
  display: grid;
  gap: px2x(80) px2x(30);
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: px2x(140);
}

.course {
  background: $white;
  border-radius: px2x(15);
  box-shadow: 0 px2x(25) px2x(50) rgba(6, 22, 141, 0.0442381);
  display: flex;
  flex-direction: column;
  padding: px2x(64) px2x(32) px2x(40);
  position: relative;
}

.course-list-title {
  background: $gradient-orange-pink;
  box-shadow: none; // Reset .course
  color: $white;
  font-size: px2x(32);
  font-weight: 800;
  line-height: px2x(40);
}

.course-title,
.course-txt {
  margin-bottom: px2x(24);
}

.course-title {
  color: $blue-dark;
  font-size: px2x(24);
  font-weight: 800;
  line-height: px2x(30);
  white-space: nowrap;
}

.course-txt {
  flex: 1;
}

.course-link {
  color: $pink;
  font-size: px2x(18);
  font-weight: 700;
  line-height: px2x(28);
  text-transform: capitalize;
}

.course-link:hover {
  color: #ffa7c3;
  transition: color 0.3s ease;
}

.course-icon {
  align-items: center;
  background: $gradient-orange-pink;
  border-radius: 50%;
  display: flex;
  height: px2x(56);
  justify-content: center;
  position: absolute;
  top: -#{px2x(24)};
  width: px2x(56);
}

// FOOTER
.row-footer {
  background: $blue-dark;
}

.footer {
  color: $white;
  padding: px2x($footer-padding) 0;
  // padding-bottom: px2x($footer-padding);
  // padding-top: px2x($footer-padding);
}

.footer .btn {
  background: $gradient-footer-btn;
  padding: px2x(14) 0;
}

.footer .btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), $gradient-footer-btn;
}

// (Out of the challenge) FOOTER: Attribution

.attribution-wrap {
  flex: 100%;
  padding-top: px2x($footer-padding);
  // text-align: center;
}

.attribution {
  border-top: px2x(2) solid $white;
  display: inline-block;
  font-size: 74%;
  padding: px2x(calc($footer-padding / 2)) px2x($footer-padding) 0 px2x(calc($footer-padding / 2));
}

.attribution a {
  color: $pink;
  white-space: nowrap;
}

.attribution abbr {
  cursor: inherit;
}

// Media-queries

// >= 1930
@media (min-width: px2x(1930)) {
  .intro-img-attach {
    height: px2x(1280);
  }
}

// <= 980
@media (max-width: px2x(980)) {
  .stats-hours {
    bottom: 2rem;
    left: -#{px2x(100)};
  }
}

// <= 860
@media (max-width: px2x($wrap-width-tab)) {
  body {
    font-size: px2x(16);
    line-height: px2x(26, '');
  }

  .content {
    margin: 0 px2x(44.232, '%', $wrap-width-tab);
  }

  .bar .btn {
    padding: px2x(9) 0 px2x(11);
    width: px2x(140);
  }

  // HEADER

  .header {
    margin-bottom: px2x(calc(49.77 - $header-padding));
  }

  .logo {
    font-size: px2x(28);
  }

  // Intro

  .intro {
    margin-bottom: px2x(160.7);
  }

  .intro-verbal {
    flex-basis: px2x(398);
    margin-bottom: 0;
  }

  .intro-title {
    font-size: px2x(40);
    line-height: px2x(50);
    margin-bottom: px2x(25);
  }

  .intro-txt {
    margin-bottom: px2x(24);
    max-width: 100%;
  }

  .intro .btn {
    padding: px2x(15) 0;
  }

  .intro-visual {
    margin: 0 px2x(41.15, '%', $main-width-tab) 0 px2x(20, '%', $main-width-tab);
  }

  .intro-img-cover {
    height: px2x(calc($intro-visual-height / $intro-visual-delta));
    width: px2x(calc($intro-visual-width / $intro-visual-delta));
  }

  .intro-img-attach {
    height: px2x(calc($intro-visual-attach-height / $intro-visual-delta));
    transform: rotate(45deg) translate(-#{px2x(calc($intro-visual-attach-x / $intro-visual-delta))}, -#{px2x(calc($intro-visual-attach-y / $intro-visual-delta))});
    width: px2x(calc($intro-visual-width / $intro-visual-delta));
  }

  .intro-stats {
    border-radius: px2x(10);
    padding: px2x(16) px2x(20);
  }

  .intro-stats>dt {
    font-size: px2x(14);
    margin-bottom: 0;
  }

  .intro-stats>dd {
    font-size: px2x(32);
    line-height: px2x(40);
  }

  .stats-hours {
    bottom: -#{px2x(38)};
    left: -#{px2x(45.3)};
    width: px2x(155);
  }

  .stats-members {
    right: -#{px2x(51.15)};
    top: -#{px2x(13.8)};
    width: px2x(105);
  }

  .course-list {
    // b/c
    grid-gap: px2x(56) px2x(10);
    // basic
    gap: px2x(56) px2x(10);
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: px2x(86);
  }

  .course {
    border-radius: px2x(10);
    padding: px2x(56) px2x(21) px2x(32) px2x(32);
  }

  .course-list-title {
    font-size: px2x(24);
    line-height: px2x(32);
  }

  .course-title {
    font-size: px2x(20);
    line-height: px2x(25);
    margin-bottom: px2x(16);
  }

  .footer {
    padding: px2x($footer-padding-tab) 0;
  }
}

// <= 540
@media (max-width: px2x($wrap-width-mob)) {
  .content {
    margin: 0 px2x(23.0402, '%', $wrap-width-mob);
  }

  .header {
    margin-bottom: px2x(calc(38 - $header-padding-mob));
    padding: px2x($header-padding-mob) 0;
  }

  .intro {
    display: block;
    margin-bottom: px2x(90);
  }

  .intro-verbal {
    margin-bottom: px2x(70);
  }

  .intro-title {
    margin-bottom: px2x(26);
  }

  .intro-visual,
  .intro-img-cover {
    height: px2x($intro-visual-width-mob);
    width: px2x($intro-visual-width-mob);
  }

  .intro-visual {
    margin: 0 auto;
  }

  .intro-img-cover {
    text-align: center;
  }

  .intro-img-attach {
    display: none;
  }

  .intro-img {
    position: relative;
    top: px2x(16);
    width: px2x(238.72, '%', $intro-visual-width-mob);
  }

  .stats-hours {
    bottom: -#{px2x(24)};
    left: -#{px2x(37)};
  }

  .stats-members {
    right: -#{px2x(37)};
    top: -#{px2x(24)};
  }

  .course-list {
    display: block;
    margin-bottom: px2x(80);
  }

  .course {
    padding: px2x(56) px2x(29) px2x(32) px2x(28);
    margin-bottom: px2x(40);
  }

  .course-list-title {
    padding: px2x(24) px2x(29) px2x(32) px2x(28);
  }
}

// <= 300
@media (max-width: px2x($wrap-width-s)) {
  .stats-members {
    right: -#{px2x(20)};
    top: -#{px2x(52)};
  }

  .stats-hours {
    bottom: -#{px2x(36)};
    left: -#{px2x(20)};
  }

  .course {
    padding-left: px2x(28, '%', $wrap-width-s);
    padding-right: px2x(28, '%', $wrap-width-s);
  }
}

// <= 280
@media (max-width: px2x(280)) {
  .content {
    padding-left: 0 6%;
  }

  .intro-visual,
  .intro-img-cover {
    width: 100%;
  }

  .bar {
    flex-direction: column;
  }

  .bar .btn {
    margin-top: 1rem;
  }
}

// <= 220
@media (max-width: px2x(220)) {
  .intro .btn {
    width: 100%;
  }

  .stats-members {
    top: -#{px2x(64)};
  }

  .intro-img {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}
